@font-face {
    font-family: "scpFont";
    src: url(../Fonts/scpFont.otf);
}

body {
    font-family: scpFont;
    background-color: rgb(0, 96, 106)
}

h1{
    color: white
}
h2{
    color: white
}

/* ID's */

#Stuff{
    display: grid;
    place-items: center;
}

#RLogo{
    width: 250px;
    height: 250px;
}

#Logo79{
    width:100px;
    height:100px;
    opacity: 0.2
}
